@namespace url('http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul');
@namespace htmlNs url('http://www.w3.org/1999/xhtml');

/* Remove the tab bar */
#TabsToolbar {
    visibility: hidden !important;
    max-height: 10px !important;
	color: inherit !important;
}
#nav-bar {
    box-shadow: none !important;
	color: inherit !important;
}

